---
title: Curioucity
work: curioucity
---
<div class="work">

  <%= partial(:cover, locals: { :work => current_page.data.work }) %>
  
  <div class="story">
    
    <p class="lead">A horse to rock its debut in SXSW 2012 for <em>Curioucity</em> &ndash; hyper-local chat + check-in app made in Tokyo.</p>
    
    <p class="by">Aen Tan</p>
    
    <p class="text-center">Details coming soon.</p>
    
  </div>
  
  <% link_to '/', class: 'lemon-back' do %>
    <%= partial 'lemons.svg' %>
  <% end %>
  
</div>