---
title: Found
work: found
---
<div class="work">

  <%= partial(:cover, locals: { :work => current_page.data.work }) %>
  
  <div class="story">
    
    <p class="lead">Blu is a mascot character designed for <em>Found</em> &ndash; an app for planned and spontaneous get-togethers.</p>
    
    <p class="by">Aen Tan</p>
    
    <p class="text-center">Details coming soon.</p>
    
  </div>
  
  <% link_to '/', class: 'lemon-back' do %>
    <%= partial 'lemons.svg' %>
  <% end %>
  
</div>