---
title: Lemons
---
<div id="grid">
<% ['sunday', 'angelround', 'multiply', '6degrees', 'lifeopp', 'curioucity', 'found', 'fisheye'].each do |work| %>
  <%= partial(:tile, locals: { :work => work }) %>
<% end %>

  <%= partial 'lemons.svg' %>
  <%= partial 'lemons.svg' %>

</div>